{
  "presets": [
      ["@babel/preset-env", {
          "forceAllTransforms": true,
          "targets": {
              "node": true
          },
          "useBuiltIns": "usage",
          "corejs": 3
      }]
  ],
  "plugins": [
      ["module-resolver", {
          "alias": {
              "src": "./src"
          }
      }],
      "add-module-exports"
  ]
}